<img src="http://oci02.img.iteso.mx/identidad_de_instancia_2018/ITESO/Logos%20ITESO/Logo-ITESO-Principal.jpg">

---

<center> <font color= #004A94> <font size = 5> Ingeniería Financiera | ITESO </font> <br> <br>

<center> <font color= #004A94> <font size = 6> Microestructura y Sistemas de Trading </font> <br> <br>

<center> <font color=#42c29b><font size=5> Laboratorio 2 <br> <br> Behavioral Finance para Trading </font> <br> <br>

<center> <font color=#004A94><font size=4> I.F. Mario Abel García Verduzco | if711430@iteso.mx </font> <br> <br>

---

# Abstract

En este trabajo ...

# Modulos y dependencias

In [38]:
import datetime
import pandas as pd
import numpy as np
from datetime import  datetime
from datetime import timedelta

In [39]:
pd.set_option('display.max_rows', None)                # sin limite de renglones maximos para mostrar pandas
pd.set_option('display.max_columns', None)             # sin limite de columnas maximas para mostrar pandas
pd.set_option('display.width', None)                   # sin limite el ancho del display
pd.set_option('display.expand_frame_repr', False)      # visualizar todas las columnas de un dataframe
pd.options.mode.chained_assignment = None              # para evitar el warning enfadoso de indexacion indv

In [40]:
def f_precios(p0_esc):
    """
    Parameters
    ----------
    p0_esc : str : string con letra de escenario a probar
    p1_datos : pd.DataFrame : datos de backtest

    Returns
    -------
    rt_metricas : dict : diccionario con metricas calculadas para backtest

    Debugging
    ---------
    p0_esc = 'B'
    p1_datos = df_back

    """
    
    precios = {'datos': p0_esc + 1, 'grafica': 2, 'tabla':3}
    
    return precios

In [41]:
def f_leer_archivo(param_archivo):
     # Leer archivo de datos y guardarlo en un DataFrame
    df_data = pd.read_excel('Data/' + param_archivo, sheet_name='Hoja1')
    df_data = df_data.loc[df_data['Type']!='balance']
    
    # elegir solo renglones en los que la columna type == buy | type == sell

    # Convertir en minusculas el nombre de las columnas
    df_data.columns = [list(df_data.columns)[i].lower()
                       for i in range(0, len(df_data.columns))]
    # Asegurar que ciertas son del tipo numerico
    numcols = ['s/l', 't/p', 'commission', 'openprice', 'closeprice', 'profit', 'size', 'swap',
              'taxes', 'order']

    df_data[numcols] = df_data[numcols].apply(pd.to_numeric)

    #print(df_data)
    return df_data

In [42]:
data = f_leer_archivo(param_archivo="oanda.xlsx")
data

        order            open time  type  size         item   openprice  s/l  t/p           close time  closeprice  commission  taxes  swap  profit
1   232895009  2020.02.06 16:44:58   buy  0.10     usdmxn-2    18.64987  0.0  0.0  2020.02.07 23:58:48    18.76029         0.0    0.0   0.0   58.80
2   232895102  2020.02.06 16:45:29   buy  0.01   wticousd-2    50.46600  0.0  0.0  2020.02.14 19:04:00    51.81800         0.0    0.0   0.0    1.35
5   233040917  2020.02.10 01:19:45   buy  0.10     xauusd-2  1571.47400  0.0  0.0  2020.02.10 01:27:31  1572.16900         0.0    0.0   0.0    6.95
6   233040923  2020.02.10 01:20:03   buy  0.10     xagusd-2    17.71764  0.0  0.0  2020.02.10 01:35:30    17.76317         0.0    0.0   0.0   22.77
7   233040943  2020.02.10 01:20:26   buy  0.03  natgasusd-2     1.80100  0.0  0.0  2020.02.14 19:04:18     1.84300         0.0    0.0   0.0    3.15
8   233041150  2020.02.10 01:27:26   buy  0.50     xauusd-2  1572.41900  0.0  0.0  2020.02.10 01:35:22  1575.83700         0.0    0.0   0.0  170.90
9   233041615  2020.02.10 01:35:56   buy  0.20     xauusd-2  1576.55500  0.0  0.0  2020.02.14 19:03:56  1581.54100         0.0    0.0   0.0   99.72
10  233041806  2020.02.10 01:39:43   buy  0.10     xauusd-2  1574.06000  0.0  0.0  2020.02.14 19:04:11  1581.67700         0.0    0.0   0.0   76.17
11  233045644  2020.02.10 03:42:30   buy  0.10     xauusd-2  1572.20900  0.0  0.0  2020.02.10 16:09:24  1574.20900         0.0    0.0   0.0   20.00
12  233080280  2020.02.10 15:27:38   buy  0.10  natgasusd-2     1.79500  0.0  0.0  2020.02.14 19:04:07     1.84300         0.0    0.0   0.0   12.00
13  233080289  2020.02.10 15:28:16   buy  0.50     usdmxn-2    18.77002  0.0  0.0  2020.02.10 15:49:14    18.77996         0.0    0.0   0.0   26.45
14  233080654  2020.02.10 15:31:27   buy  1.00     xauusd-2  1573.12500  0.0  0.0  2020.02.10 16:08:56  1574.14900         0.0    0.0   0.0  102.40
15  233080692  2020.02.10 15:32:34  sell  0.10     gbpusd-2     1.29365  0.0  0.0  2020.02.20 15:17:09     1.28673         0.0    0.0   0.0   69.20
16  233081552  2020.02.10 15:48:56   buy  0.10     eurusd-2     1.09447  0.0  0.0  2020.03.02 15:46:29     1.11247         0.0    0.0   0.0  180.00
17  233081759  2020.02.10 15:52:05   buy  0.10     usdmxn-2    18.79545  0.0  0.0  2020.02.10 16:24:10    18.82167         0.0    0.0   0.0   13.93
25  233485695  2020.02.14 19:04:49   buy  0.30     usdmxn-2    18.57518  0.0  0.0  2020.02.19 17:39:36    18.60500         0.0    0.0   0.0   48.08
26  233485696  2020.02.14 19:05:00   buy  0.30     usdmxn-2    18.57509  0.0  0.0  2020.02.19 17:39:41    18.60500         0.0    0.0   0.0   48.22
27  233485705  2020.02.14 19:05:11   buy  0.10     eurusd-2     1.08387  0.0  0.0  2020.03.02 15:46:25     1.11247         0.0    0.0   0.0  286.00
39  234543258  2020.03.02 15:49:41   buy  1.00     xauusd-2  1594.06300  0.0  0.0  2020.03.02 16:00:50  1596.05200         0.0    0.0   0.0  198.90
40  234543984  2020.03.02 15:58:29  sell  1.00     eurusd-2     1.11240  0.0  0.0  2020.03.02 16:08:50     1.11119         0.0    0.0   0.0  121.00

In [43]:
f_pip_size(param_ins = 'eurusd')

10000

In [44]:
data_time = df_archivo[['open time','close time']]
data_time

              open time           close time
1   2020.02.06 16:44:58  2020.02.07 23:58:48
2   2020.02.06 16:45:29  2020.02.14 19:04:00
5   2020.02.10 01:19:45  2020.02.10 01:27:31
6   2020.02.10 01:20:03  2020.02.10 01:35:30
7   2020.02.10 01:20:26  2020.02.14 19:04:18
8   2020.02.10 01:27:26  2020.02.10 01:35:22
9   2020.02.10 01:35:56  2020.02.14 19:03:56
10  2020.02.10 01:39:43  2020.02.14 19:04:11
11  2020.02.10 03:42:30  2020.02.10 16:09:24
12  2020.02.10 15:27:38  2020.02.14 19:04:07
13  2020.02.10 15:28:16  2020.02.10 15:49:14
14  2020.02.10 15:31:27  2020.02.10 16:08:56
15  2020.02.10 15:32:34  2020.02.20 15:17:09
16  2020.02.10 15:48:56  2020.03.02 15:46:29
17  2020.02.10 15:52:05  2020.02.10 16:24:10
25  2020.02.14 19:04:49  2020.02.19 17:39:36
26  2020.02.14 19:05:00  2020.02.19 17:39:41
27  2020.02.14 19:05:11  2020.03.02 15:46:25
39  2020.03.02 15:49:41  2020.03.02 16:00:50
40  2020.03.02 15:58:29  2020.03.02 16:08:50

### Diferencias de tiempo

In [45]:

data['open time'] = pd.to_datetime(data_time['open time'])
data['close time'] = pd.to_datetime(data_time['close time'])

dif = (data['close time'] - data['open time'])
data_time['dif_time']= dif
data_time

              open time           close time         dif_time
1   2020.02.06 16:44:58  2020.02.07 23:58:48  1 days 07:13:50
2   2020.02.06 16:45:29  2020.02.14 19:04:00  8 days 02:18:31
5   2020.02.10 01:19:45  2020.02.10 01:27:31  0 days 00:07:46
6   2020.02.10 01:20:03  2020.02.10 01:35:30  0 days 00:15:27
7   2020.02.10 01:20:26  2020.02.14 19:04:18  4 days 17:43:52
8   2020.02.10 01:27:26  2020.02.10 01:35:22  0 days 00:07:56
9   2020.02.10 01:35:56  2020.02.14 19:03:56  4 days 17:28:00
10  2020.02.10 01:39:43  2020.02.14 19:04:11  4 days 17:24:28
11  2020.02.10 03:42:30  2020.02.10 16:09:24  0 days 12:26:54
12  2020.02.10 15:27:38  2020.02.14 19:04:07  4 days 03:36:29
13  2020.02.10 15:28:16  2020.02.10 15:49:14  0 days 00:20:58
14  2020.02.10 15:31:27  2020.02.10 16:08:56  0 days 00:37:29
15  2020.02.10 15:32:34  2020.02.20 15:17:09  9 days 23:44:35
16  2020.02.10 15:48:56  2020.03.02 15:46:29 20 days 23:57:33
17  2020.02.10 15:52:05  2020.02.10 16:24:10  0 days 00:32:05
25  2020.02.14 19:04:49  2020.02.19 17:39:36  4 days 22:34:47
26  2020.02.14 19:05:00  2020.02.19 17:39:41  4 days 22:34:41
27  2020.02.14 19:05:11  2020.03.02 15:46:25 16 days 20:41:14
39  2020.03.02 15:49:41  2020.03.02 16:00:50  0 days 00:11:09
40  2020.03.02 15:58:29  2020.03.02 16:08:50  0 days 00:10:21

In [46]:
data_time['dif_time'] = data_time['dif_time'].dt.total_seconds()
data_time

              open time           close time   dif_time
1   2020.02.06 16:44:58  2020.02.07 23:58:48   112430.0
2   2020.02.06 16:45:29  2020.02.14 19:04:00   699511.0
5   2020.02.10 01:19:45  2020.02.10 01:27:31      466.0
6   2020.02.10 01:20:03  2020.02.10 01:35:30      927.0
7   2020.02.10 01:20:26  2020.02.14 19:04:18   409432.0
8   2020.02.10 01:27:26  2020.02.10 01:35:22      476.0
9   2020.02.10 01:35:56  2020.02.14 19:03:56   408480.0
10  2020.02.10 01:39:43  2020.02.14 19:04:11   408268.0
11  2020.02.10 03:42:30  2020.02.10 16:09:24    44814.0
12  2020.02.10 15:27:38  2020.02.14 19:04:07   358589.0
13  2020.02.10 15:28:16  2020.02.10 15:49:14     1258.0
14  2020.02.10 15:31:27  2020.02.10 16:08:56     2249.0
15  2020.02.10 15:32:34  2020.02.20 15:17:09   863075.0
16  2020.02.10 15:48:56  2020.03.02 15:46:29  1814253.0
17  2020.02.10 15:52:05  2020.02.10 16:24:10     1925.0
25  2020.02.14 19:04:49  2020.02.19 17:39:36   426887.0
26  2020.02.14 19:05:00  2020.02.19 17:39:41   426881.0
27  2020.02.14 19:05:11  2020.03.02 15:46:25  1456874.0
39  2020.03.02 15:49:41  2020.03.02 16:00:50      669.0
40  2020.03.02 15:58:29  2020.03.02 16:08:50      621.0

In [48]:
data['dif_seconds']=data_time['dif_time']
data

        order           open time  type  size         item   openprice  s/l  t/p          close time  closeprice  commission  taxes  swap  profit  dif_seconds
1   232895009 2020-02-06 16:44:58   buy  0.10     usdmxn-2    18.64987  0.0  0.0 2020-02-07 23:58:48    18.76029         0.0    0.0   0.0   58.80     112430.0
2   232895102 2020-02-06 16:45:29   buy  0.01   wticousd-2    50.46600  0.0  0.0 2020-02-14 19:04:00    51.81800         0.0    0.0   0.0    1.35     699511.0
5   233040917 2020-02-10 01:19:45   buy  0.10     xauusd-2  1571.47400  0.0  0.0 2020-02-10 01:27:31  1572.16900         0.0    0.0   0.0    6.95        466.0
6   233040923 2020-02-10 01:20:03   buy  0.10     xagusd-2    17.71764  0.0  0.0 2020-02-10 01:35:30    17.76317         0.0    0.0   0.0   22.77        927.0
7   233040943 2020-02-10 01:20:26   buy  0.03  natgasusd-2     1.80100  0.0  0.0 2020-02-14 19:04:18     1.84300         0.0    0.0   0.0    3.15     409432.0
8   233041150 2020-02-10 01:27:26   buy  0.50     xauusd-2  1572.41900  0.0  0.0 2020-02-10 01:35:22  1575.83700         0.0    0.0   0.0  170.90        476.0
9   233041615 2020-02-10 01:35:56   buy  0.20     xauusd-2  1576.55500  0.0  0.0 2020-02-14 19:03:56  1581.54100         0.0    0.0   0.0   99.72     408480.0
10  233041806 2020-02-10 01:39:43   buy  0.10     xauusd-2  1574.06000  0.0  0.0 2020-02-14 19:04:11  1581.67700         0.0    0.0   0.0   76.17     408268.0
11  233045644 2020-02-10 03:42:30   buy  0.10     xauusd-2  1572.20900  0.0  0.0 2020-02-10 16:09:24  1574.20900         0.0    0.0   0.0   20.00      44814.0
12  233080280 2020-02-10 15:27:38   buy  0.10  natgasusd-2     1.79500  0.0  0.0 2020-02-14 19:04:07     1.84300         0.0    0.0   0.0   12.00     358589.0
13  233080289 2020-02-10 15:28:16   buy  0.50     usdmxn-2    18.77002  0.0  0.0 2020-02-10 15:49:14    18.77996         0.0    0.0   0.0   26.45       1258.0
14  233080654 2020-02-10 15:31:27   buy  1.00     xauusd-2  1573.12500  0.0  0.0 2020-02-10 16:08:56  1574.14900         0.0    0.0   0.0  102.40       2249.0
15  233080692 2020-02-10 15:32:34  sell  0.10     gbpusd-2     1.29365  0.0  0.0 2020-02-20 15:17:09     1.28673         0.0    0.0   0.0   69.20     863075.0
16  233081552 2020-02-10 15:48:56   buy  0.10     eurusd-2     1.09447  0.0  0.0 2020-03-02 15:46:29     1.11247         0.0    0.0   0.0  180.00    1814253.0
17  233081759 2020-02-10 15:52:05   buy  0.10     usdmxn-2    18.79545  0.0  0.0 2020-02-10 16:24:10    18.82167         0.0    0.0   0.0   13.93       1925.0
25  233485695 2020-02-14 19:04:49   buy  0.30     usdmxn-2    18.57518  0.0  0.0 2020-02-19 17:39:36    18.60500         0.0    0.0   0.0   48.08     426887.0
26  233485696 2020-02-14 19:05:00   buy  0.30     usdmxn-2    18.57509  0.0  0.0 2020-02-19 17:39:41    18.60500         0.0    0.0   0.0   48.22     426881.0
27  233485705 2020-02-14 19:05:11   buy  0.10     eurusd-2     1.08387  0.0  0.0 2020-03-02 15:46:25     1.11247         0.0    0.0   0.0  286.00    1456874.0
39  234543258 2020-03-02 15:49:41   buy  1.00     xauusd-2  1594.06300  0.0  0.0 2020-03-02 16:00:50  1596.05200         0.0    0.0   0.0  198.90        669.0
40  234543984 2020-03-02 15:58:29  sell  1.00     eurusd-2     1.11240  0.0  0.0 2020-03-02 16:08:50     1.11119         0.0    0.0   0.0  121.00        621.0

### PIPs

In [ ]:
# -- ------------------------------------------------------ FUNCION: Pips por instrumento -- #
# -- ------------------------------------------------------------------------------------ -- #
# -- calcular el tamaño de los pips por instrumento

def f_pip_size(param_ins):
    """
           Parameters
       ----------
       param_ins : str : nombre de instrumento
       Returns
       -------
       Debugging
       -------
       param_ins = 'usdjpy'
       """

    # encontrar y eliminar un guion bajo
    # inst = param_ins.replace('_', '')

    # transformar a minusculas
    inst = param_ins.lower()

    # lista de pips por instrumento
    pips_inst = {'usdjpy': 100, 'gbpjpy': 100, 'eurjpy': 100, 'cadjpy': 100,
                 'chfjpy': 100,
                 'eurusd': 10000, 'gbpusd': 10000, 'usdcad': 10000, 'usdmxn': 10000,
                 'audusd': 10000, 'nzdusd': 10000,
                 'usdchf': 10000,
                 'eurgbp': 10000, 'eurchf': 10000, 'eurnzd': 10000, 'euraud': 10000,
                 'gbpnzd': 10000, 'gbpchf': 10000, 'gbpaud': 10000,
                 'audnzd': 10000, 'nzdcad': 10000, 'audcad': 10000,
                 'xauusd': 10, 'xagusd': 10, 'btcusd': 1}

    return pips_inst[inst]